In [1]:
import pandas as pd

%config Completer.use_jedi = False

!wget https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_09_the_groupby_object/cereals.csv

--2021-09-11 14:32:52--  https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_09_the_groupby_object/cereals.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3239 (3.2K) [text/plain]
Saving to: ‘cereals.csv’

cereals.csv         100%[===================>]   3.16K  --.-KB/s    in 0s

2021-09-11 14:32:52 (45.4 MB/s) - ‘cereals.csv’ saved [3239/3239]

In [3]:
cereals = pd.read_csv("cereals.csv")
cereals

                         Name    Manufacturer  Type  Calories  Fiber  Sugars
0                   100% Bran         Nabisco  Cold        70   10.0       6
1           100% Natural Bran     Quaker Oats  Cold       120    2.0       8
2                    All-Bran       Kellogg's  Cold        70    9.0       5
3   All-Bran with Extra Fiber       Kellogg's  Cold        50   14.0       0
4              Almond Delight  Ralston Purina  Cold       110    1.0       8
..                        ...             ...   ...       ...    ...     ...
72                    Triples   General Mills  Cold       110    0.0       3
73                       Trix   General Mills  Cold       110    0.0      12
74                 Wheat Chex  Ralston Purina  Cold       100    3.0       3
75                   Wheaties   General Mills  Cold       100    3.0       3
76        Wheaties Honey Gold   General Mills  Cold       110    1.0       8

[77 rows x 6 columns]

# 1

In [5]:
manufacturer = cereals.groupby("Manufacturer")

# 2

In [7]:
len(manufacturer)

7

In [8]:
manufacturer.size()

Manufacturer
American Home Food Products     1
General Mills                  22
Kellogg's                      23
Nabisco                         6
Post                            9
Quaker Oats                     8
Ralston Purina                  8
dtype: int64

# 3

In [9]:
manufacturer.get_group("Nabisco")

                         Name Manufacturer  Type  Calories  Fiber  Sugars
0                   100% Bran      Nabisco  Cold        70   10.0       6
20     Cream of Wheat (Quick)      Nabisco   Hot       100    1.0       0
63             Shredded Wheat      Nabisco  Cold        80    3.0       0
64     Shredded Wheat 'n'Bran      Nabisco  Cold        90    4.0       0
65  Shredded Wheat spoon size      Nabisco  Cold        90    3.0       0
68    Strawberry Fruit Wheats      Nabisco  Cold        90    3.0       5

# 4

In [10]:
manufacturer.mean()

                               Calories     Fiber    Sugars
Manufacturer
American Home Food Products  100.000000  0.000000  3.000000
General Mills                111.363636  1.272727  7.954545
Kellogg's                    108.695652  2.739130  7.565217
Nabisco                       86.666667  4.000000  1.833333
Post                         108.888889  2.777778  8.777778
Quaker Oats                   95.000000  1.337500  5.250000
Ralston Purina               115.000000  1.875000  6.125000

# 5

In [11]:
manufacturer["Sugars"].max()

Manufacturer
American Home Food Products     3
General Mills                  14
Kellogg's                      15
Nabisco                         6
Post                           15
Quaker Oats                    12
Ralston Purina                 11
Name: Sugars, dtype: int64

# 6

In [12]:
manufacturer["Fiber"].min()

Manufacturer
American Home Food Products    0.0
General Mills                  0.0
Kellogg's                      0.0
Nabisco                        1.0
Post                           0.0
Quaker Oats                    0.0
Ralston Purina                 0.0
Name: Fiber, dtype: float64

# 7

In [15]:
manufacturer.apply(lambda x: x.nsmallest(1, "Sugars"))

,,Name,Manufacturer,Type,Calories,Fiber,Sugars
Manufacturer,,,,,,,
American Home Food Products,43,Maypo,American Home Food Products,Hot,100,0.0,3
General Mills,11,Cheerios,General Mills,Cold,110,2.0,1
Kellogg's,3,All-Bran with Extra Fiber,Kellogg's,Cold,50,14.0,0
Nabisco,20,Cream of Wheat (Quick),Nabisco,Hot,100,1.0,0
Post,33,Grape-Nuts,Post,Cold,110,3.0,3
Quaker Oats,57,Quaker Oatmeal,Quaker Oats,Hot,100,2.7,-1
Ralston Purina,61,Rice Chex,Ralston Purina,Cold,110,0.0,2